$body-background-color: #f1f2f6;

/**/
$area-padding: 5px;
$input-area-width: 300px;

/* charts */
$transition-duration: 0.3;
$transition-function: linear;
$bar-chart-color: #628EBA;
$bar-chart-hover-color: darken($bar-chart-color, 10%);